# host groups, host template for hosts in a group, and related service group definition

# group for all hosts in the cluster
define hostgroup {
  hostgroup_name {{ cluster_item }}
  alias {{ cluster_item }} cluster all
}

define servicegroup {
  servicegroup_name {{ cluster_item }}-ganglia-metrics
  alias {{ cluster_item }} ganglia metrics
}

define host {
  name {{ cluster_item }}-host
  use linux-server
  hostgroups {{ cluster_item }}
  check_interval {{ nagios_host_check_interval }}
  retry_interval {{ nagios_host_check_retry_interval }}
  max_check_attempts {{ nagios_host_check_max_retries }}
  check_command check_ssh
  notification_interval {{ nagios_host_notification_interval }}
  notification_period 24x7
  contact_groups admins,{{ cluster_item }}-contacts
  register 0
}

