<?php

#
# /etc/ganglia/conf.php
#
# You can use this file to override default settings.
#
# For a list of available options, see /usr/share/ganglia/conf_default.php
#

$conf['auth_system'] = '{{ ganglia_web_auth_system }}';
$conf['rrds'] = "{{ gmetad_rrds_path }}";

?>

