#
# Ganglia monitoring system php web frontend
#

Alias /ganglia2 /usr/share/ganglia

<Location /ganglia2>
  # Require local
  # Require ip 10.1.2.3
  # Require host example.org
  AuthType basic
  AuthName "Ganglia web UI"
  AuthBasicProvider file
  AuthUserFile "{{ ganglia_web_auth_file }}"
  Require user {{ ganglia_web_username }}
</Location>

<Location /ganglia2/nagios>
  # Require local
  # Require ip 10.1.2.3
  # Require host example.org
  AuthType None
  Require all granted
</Location>
