# host groups, host template for hosts in a group, and related services definitions

define hostgroup {
  hostgroup_name {{ cluster_item }}
  alias {{ cluster_item }} cluster
}

# a host group only containing the master nodes of a cluster
define hostgroup {
  hostgroup_name {{ cluster_item }}-master
  alias {{ cluster_item }} cluster masters
}

define host {
  name {{ cluster_item }}-host
  use linux-server
  hostgroups {{ cluster_item }}
  register 0
}

# host representing the master node
define host {
  name {{ cluster_item }}-master-host
  use linux-server
  hostgroups {{ cluster_item }},{{ cluster_item }}-master
  register 0
}

define service {
  use check-ganglia-heartbeat
  hostgroup_name {{ cluster_item }}
  service_description {{ cluster_item }}-check-ganglia-heartbeat
}

{% for metric in nagios_check_ganglia_metrics %}
  {% if 'cluster_role' in metric %}
    {% set metric_cluster_role = metric.cluster_role %}
  {% endif %}
  {% if metric_cluster_role|default('') == 'master' %}
define service {
  use check-ganglia-{{ metric.name }}
  hostgroup_name {{ cluster_item }}-master
  service_description {{ cluster_item }}-check-ganglia-{{ metric.name }}
}

  {% else %}
define service {
  use check-ganglia-{{ metric.name }}
  hostgroup_name {{ cluster_item }}
  service_description {{ cluster_item }}-check-ganglia-{{ metric.name }}
}

  {% endif %}
{% endfor %}

