# host groups, host template for hosts in a group, and related services definitions

define hostgroup {
  hostgroup_name {{ cluster_item }}
  alias {{ cluster_item }} cluster
}

# a host group only containing the master nodes of a cluster
define hostgroup {
  hostgroup_name {{ cluster_item }}-master
  alias {{ cluster_item }} cluster masters
}

# a host group only containing the head of a cluster
define hostgroup {
  hostgroup_name {{ cluster_item }}-head
  alias {{ cluster_item }} cluster head
}

define host {
  name {{ cluster_item }}-host
  use linux-server
  hostgroups {{ cluster_item }}
  contact_groups admins,{{ cluster_item }}-contacts
  register 0
}

# host representing the master node
define host {
  name {{ cluster_item }}-master-host
  use linux-server
  hostgroups {{ cluster_item }},{{ cluster_item }}-master
  contact_groups admins,{{ cluster_item }}-contacts
  register 0
}

# host representing the head node
define host {
  name {{ cluster_item }}-head-host
  use linux-server
  hostgroups {{ cluster_item }},{{ cluster_item }}-master,{{ cluster_item }}-head
  contact_groups admins,{{ cluster_item }}-contacts
  register 0
}

define service {
  use check-ganglia-heartbeat
  hostgroup_name {{ cluster_item }}
  service_description {{ cluster_item }}-check-ganglia-heartbeat
  contact_groups admins,{{ cluster_item }}-contacts
}

{% set host_cluster_type = hostvars[groups[cluster_item][0]]['cluster_type'] %}

{% for metric in nagios_check_ganglia_metrics %}
{% if 'cluster_role' in metric %}
{% set metric_cluster_role = metric.cluster_role %}
{% else %}
{% set metric_cluster_role = '' %}
{% endif %}
  
{% if 'cluster_type' in metric %}
{% set metric_cluster_type = metric.cluster_type %}
{% else %}
{% set metric_cluster_type = [] %}
{% endif %}
  
{% if host_cluster_type in metric_cluster_type or metric_cluster_type == [] %}
{% if metric_cluster_role == 'master' %}
define service {
  use check-ganglia-{{ metric.name }}
  hostgroup_name {{ cluster_item }}-master
  service_description {{ cluster_item }}-check-ganglia-{{ metric.name }}
  contact_groups admins,{{ cluster_item }}-contacts
}

{% else %}
define service {
  use check-ganglia-{{ metric.name }}
  hostgroup_name {{ cluster_item }}
  service_description {{ cluster_item }}-check-ganglia-{{ metric.name }}
  contact_groups admins,{{ cluster_item }}-contacts
}

{% endif %}
{% endif %}
{% endfor %}

{% for metric in nagios_check_ganglia_head_metrics %}  
{% if 'cluster_type' in metric %}
{% set metric_cluster_type = metric.cluster_type %}
{% else %}
{% set metric_cluster_type = [] %}
{% endif %}
  
{% if host_cluster_type in metric_cluster_type or metric_cluster_type == [] %}
define service {
  use check-ganglia-{{ metric.name }}
  hostgroup_name {{ cluster_item }}-head
  service_description {{ cluster_item }}-check-ganglia-{{ metric.name }}
  contact_groups admins,{{ cluster_item }}-contacts
}

{% endif %}
{% endfor %}

