# common services for checking metrics of ganglia, both the warning and the critical values are supported

# define a service group containing the service checking ganglia metric
define servicegroup {
  servicegroup_name ganglia-metrics
  alias Ganglia Metrics
}

# service template for checking heartbeat via ganglia
define service {
  use local-service
  name check-ganglia-heartbeat
  service_groups ganglia-metrics
  notifications_enabled 1
  check_interval {{ nagios_check_ganglia_check_interval }}
  notification_interval {{ nagios_check_ganglia_notification_interval }}
  check_command check_ganglia_heartbeat!{{ nagios_check_ganglia_heartbeat_threshold }}
  register 0
}

{% for metric in nagios_check_ganglia_metrics %}
# service template for checking {{ metric.name }} via ganglia
define service {
  use local-service
  name check-ganglia-{{ metric.name }}
  service_groups ganglia-metrics
  notifications_enabled 1
  check_interval {{ nagios_check_ganglia_check_interval }}
  notification_interval {{ nagios_check_ganglia_notification_interval }}
  check_command check_ganglia_metric!{{ metric.name }},{{ metric.oper }},{{ metric.warn_val }},{{ metric.oper }},{{ metric.crit_val }}
  register 0
}

{% endfor %}

