# definitions for a single host and related services 

# host definition
define host {
  use {{ cluster_item }}-host
{% if (gmond_cluster_head[0].split(':')[0] == ansible_ens192.ipv4.address) or
      (gmond_cluster_head[0].split(':')[0] == ansible_host) or
      (gmond_cluster_head[0].split(':')[0] == inventory_hostname) or
      (gmond_cluster_head[0].split(':')[0] == ansible_hostname) %}
{% if nagios_check_ganglia_head_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% else %}
{% if nagios_check_ganglia_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% endif %}
  address {{ inventory_hostname }}
}

# definitions for services
{% if cluster_role is defined %}
{% set host_cluster_role = cluster_role.split(',') %}
{% endif %}

define service {
  use local-service
  name {{ ansible_fqdn.split('.')[0] }}-check-ganglia-gmond-heartbeat
  service_groups {{ cluster_item }}-ganglia-metrics
  check_interval {{ nagios_check_ganglia_check_interval }}
  retry_interval {{ nagios_check_ganglia_check_retry_interval }}
  max_check_attempts {{ nagios_check_ganglia_check_max_retries }}
  notification_interval {{ nagios_check_ganglia_notification_interval }}
{% if (gmond_cluster_head[0].split(':')[0] == ansible_ens192.ipv4.address) or
      (gmond_cluster_head[0].split(':')[0] == ansible_host) or
      (gmond_cluster_head[0].split(':')[0] == inventory_hostname) or
      (gmond_cluster_head[0].split(':')[0] == ansible_hostname) %}
{% if nagios_check_ganglia_head_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% else %}
{% if nagios_check_ganglia_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% endif %}
  service_description check-ganglia-gmond-heartbeat
{% if nagios_check_ganglia_heartbeat_cluster_notify | default('yes' | bool) %}
  contact_groups admins,{{ cluster_item }}-contacts
{% else %}
  contact_groups admins
{% endif %}
{% if not nagios_check_ganglia_heartbeat_notify | default('yes' | bool) %}
  notifications_enabled 0
{% endif %}
  check_command check_ganglia_heartbeat!{{ nagios_check_ganglia_heartbeat_threshold }}
}

{% for metric in nagios_check_ganglia_metrics %}
{% if (host_cluster_role | default([]) | intersect(metric.cluster_role | default([])) | length() > 0 or
       metric.cluster_role | default([]) == []) and
      (metric.cluster_type | default([]) == [] or cluster_type in metric.cluster_type | default([])) %}
define service {
  use local-service
  name {{ ansible_fqdn.split('.')[0] }}-check-ganglia-{{ metric.name }}
  service_groups {{ cluster_item }}-ganglia-metrics
  check_interval {{ metric.check_interval | default(nagios_check_ganglia_check_interval) }}
  retry_interval {{ metric.retry_interval | default(nagios_check_ganglia_check_retry_interval) }}
  max_check_attempts {{ metric.max_retries | default(nagios_check_ganglia_check_max_retries) }}
  notification_interval {{ metric.notify_interval | default(nagios_check_ganglia_notification_interval) }}
{% if (gmond_cluster_head[0].split(':')[0] == ansible_ens192.ipv4.address) or
      (gmond_cluster_head[0].split(':')[0] == ansible_host) or
      (gmond_cluster_head[0].split(':')[0] == inventory_hostname) or
      (gmond_cluster_head[0].split(':')[0] == ansible_hostname) %}
{% if nagios_check_ganglia_head_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% else %}
{% if nagios_check_ganglia_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% endif %}
  service_description check-ganglia-{{ metric.name }}
{% if metric.cluster_notify | default('yes' | bool) %}
  contact_groups admins,{{ cluster_item }}-contacts
{% else %}
  contact_groups admins
{% endif %}
{% if not metric.notify | default('yes' | bool) %}
  notifications_enabled 0
{% endif %}
  check_command check_ganglia_metric!{{ metric.name }},{{ metric.oper }},{{ metric.warn_val }},{{ metric.oper }},{{ metric.crit_val }}
}

{% if nagios_check_ganglia_service_dependency | default('yes' | bool) %}
define servicedependency {
{% if (gmond_cluster_head[0].split(':')[0] == ansible_ens192.ipv4.address) or
      (gmond_cluster_head[0].split(':')[0] == ansible_host) or
      (gmond_cluster_head[0].split(':')[0] == inventory_hostname) or
      (gmond_cluster_head[0].split(':')[0] == ansible_hostname) %}
{% if nagios_check_ganglia_head_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% else %}
{% if nagios_check_ganglia_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% endif %}
  service_description check-ganglia-gmond-heartbeat
{% if (gmond_cluster_head[0].split(':')[0] == ansible_ens192.ipv4.address) or
      (gmond_cluster_head[0].split(':')[0] == ansible_host) or
      (gmond_cluster_head[0].split(':')[0] == inventory_hostname) or
      (gmond_cluster_head[0].split(':')[0] == ansible_hostname) %}
{% if nagios_check_ganglia_head_hostname_type | default('fqdn') == 'fqdn' %} 
  dependent_host_name {{ ansible_fqdn }}
{% else %}
  dependent_host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% else %}
{% if nagios_check_ganglia_hostname_type | default('fqdn') == 'fqdn' %} 
  dependent_host_name {{ ansible_fqdn }}
{% else %}
  dependent_host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% endif %}
  dependent_service_description check-ganglia-{{ metric.name }}
  execution_failure_criteria u,c
  notification_failure_criteria u,c
}
{% endif %}

{% endif %}
{% endfor %}

{% for metric in nagios_check_ganglia_head_metrics %}
{% if (metric.cluster_type | default([]) == [] or cluster_type in metric.cluster_type | default([])) and
      ((gmond_cluster_head[0].split(':')[0] == ansible_ens192.ipv4.address) or
       (gmond_cluster_head[0].split(':')[0] == ansible_host) or
       (gmond_cluster_head[0].split(':')[0] == inventory_hostname) or
       (gmond_cluster_head[0].split(':')[0] == ansible_hostname)) %}
define service {
  use local-service
  name {{ ansible_fqdn.split('.')[0] }}-check-ganglia-{{ metric.name }}
  service_groups {{ cluster_item }}-ganglia-metrics
  check_interval {{ nagios_check_ganglia_check_interval }}
  retry_interval {{ nagios_check_ganglia_check_retry_interval }}
  max_check_attempts {{ nagios_check_ganglia_check_max_retries }}
  notification_interval {{ nagios_check_ganglia_notification_interval }}
{% if (gmond_cluster_head[0].split(':')[0] == ansible_ens192.ipv4.address) or
      (gmond_cluster_head[0].split(':')[0] == ansible_host) or
      (gmond_cluster_head[0].split(':')[0] == inventory_hostname) or
      (gmond_cluster_head[0].split(':')[0] == ansible_hostname) %}
{% if nagios_check_ganglia_head_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% else %}
{% if nagios_check_ganglia_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% endif %}
  service_description check-ganglia-{{ metric.name }}
{% if metric.cluster_notify | default('yes' | bool) %}
  contact_groups admins,{{ cluster_item }}-contacts
{% else %}
  contact_groups admins
{% endif %}
{% if not metric.notify | default('yes' | bool) %}
  notifications_enabled 0
{% endif %}
  check_command check_ganglia_metric!{{ metric.name }},{{ metric.oper }},{{ metric.warn_val }},{{ metric.oper }},{{ metric.crit_val }}
}

{% if nagios_check_ganglia_service_dependency | default('yes' | bool) %}
define servicedependency {
{% if (gmond_cluster_head[0].split(':')[0] == ansible_ens192.ipv4.address) or
      (gmond_cluster_head[0].split(':')[0] == ansible_host) or
      (gmond_cluster_head[0].split(':')[0] == inventory_hostname) or
      (gmond_cluster_head[0].split(':')[0] == ansible_hostname) %}
{% if nagios_check_ganglia_head_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% else %}
{% if nagios_check_ganglia_hostname_type | default('fqdn') == 'fqdn' %} 
  host_name {{ ansible_fqdn }}
{% else %}
  host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% endif %}
  service_description check-ganglia-gmond-heartbeat
{% if (gmond_cluster_head[0].split(':')[0] == ansible_ens192.ipv4.address) or
      (gmond_cluster_head[0].split(':')[0] == ansible_host) or
      (gmond_cluster_head[0].split(':')[0] == inventory_hostname) or
      (gmond_cluster_head[0].split(':')[0] == ansible_hostname) %}
{% if nagios_check_ganglia_head_hostname_type | default('fqdn') == 'fqdn' %} 
  dependent_host_name {{ ansible_fqdn }}
{% else %}
  dependent_host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% else %}
{% if nagios_check_ganglia_hostname_type | default('fqdn') == 'fqdn' %} 
  dependent_host_name {{ ansible_fqdn }}
{% else %}
  dependent_host_name {{ ansible_fqdn.split('.')[0] }}
{% endif %}
{% endif %}
  dependent_service_description check-ganglia-{{ metric.name }}
  execution_failure_criteria u,c
  notification_failure_criteria u,c
}
{% endif %}

{% endif %}
{% endfor %}

