modules {
  module {
    name = "my_stats"
    language = "python"
  }
}

collection_group {
  collect_every  = 10
  time_threshold = 15

  metric {
    name = "node_ready"
    title = "test metric node ready"
  }


}
