# node_ready.pyconf
modules {
  module {
    name     = "node_ready"
    language = "python"

{% if cluster_type == 'erikube' %}    
    
    param kubelet_conf {
      value = /etc/kubernetes/kubelet.conf

    }
{% endif %}
  }
}

collection_group {      
  collect_every  = 10
  time_threshold = 15

  metric {
    name = "node_ready"
    title = "Kube Node Ready Status"
  }
 
}        