modules {
  module {
    name = "systemd_stats"
    language = "python"

    param target_services {
      value = "{{ gmond_systemd_check_services | join(',') }}"
    }
  }
}

collection_group {
  collect_every = 10
  time_threshold = 20
  metric {
    name_match = "service_(.+)"
  }
}
